@import "src/components/Header/header__sass/Header.module"
@import "src/sass/variables"
.wrapper
  background-color: #424242
  min-height: 100vh
  height: min-content
  padding-top: $header-height
  display: grid
  grid-template-columns: minmax(8rem, 1fr) 11fr
  font-family: Philosopher
  @include media-break(768px, max)
    grid-template-rows: minmax(10rem, 13vh) minmax(calc(100vh - calc(5rem + 3vw)), min-content)
    grid-template-columns: 1fr

.container
  margin: 0
  padding: 0
  display: grid
  grid-template-columns: 8.2fr 10fr
  @include media-break(768px, max)
    grid-template-columns: 90vw 90vw
    overflow: hidden
    overflow-x: auto

.name
  display: flex
  justify-content: flex-start
  align-items: center
  background: rgb(47, 45, 47)
  color: rgba(237, 128, 0, 1)

  font-size: calc(3rem + 3.5vw)
  text-align: center
  writing-mode: vertical-lr
  letter-spacing: 0.5rem
  span
    margin-top: 50vh
    transform: translateY(-50%) rotate(180deg)
  @include media-break(768px, max)
    justify-content: center
    writing-mode: initial
    grid-column: span 2
    width: 100vw
    span
      margin-top: 0
      transform: translateY(0) rotate(0deg)
.formulas
  background-color: rgb(67, 64, 64)
  background-size: cover
  color: white
  padding: 0 1rem
  position: relative

  div:nth-child(1)
    padding-top: 2rem
    position: relative
    z-index: 1
    text-align: center
    font-size: calc(4rem + 3vw)
    margin: 2rem 0

  div:nth-child(2)
    position: relative
    z-index: 1
    font-size: calc(2rem + 2vw)
    display: flex
    align-items: baseline
    flex-wrap: wrap
    justify-content: space-evenly
    gap: 0 calc(1rem + 1vw)


.formulas:after
  content: ''
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-image: url("./../../images/FormulasBG.png")
  background-size: cover
  background-repeat: repeat
  opacity: 0.5
  z-index: 0

.discription
  background-color: white
  padding-left:  10%
  padding-right:  3%

  div:nth-child(1)
    padding-top: 2rem

    text-align: center
    font-size: calc(3.8rem + 3vw)
    margin: 2rem 0

  div:nth-child(2)

    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    gap: calc(0.5rem + 0.5vw)
    font-size: calc(2rem + 2vw)

    ul
      list-style: initial
      width: 100%

      li
        width: 100%

.wrapper_night
  background-color: rgba(64, 60, 60, 1)

  .name
    background-color: rgb(50, 50, 50)

  .formulas
    background-color: rgb(40, 40, 40)

  .discription
    background-color: rgb(87, 87, 87)
    color: rgba(0, 0, 0, 0.86)
