@import "src/components/Header/header__sass/Header.module"
@import "src/sass/variables"
.wrapper
  background-color: #424242
  min-height: 100vh
  height: min-content
  padding-top: $header-height
  display: grid
  grid-template-columns: minmax(8rem, 1fr) 10fr
  font-family: Philosopher
  @include media-break(768px, max)
    grid-template-rows: minmax(10rem, 13vh) calc(100vh - calc(5rem + 3vw))
    grid-template-columns: 1fr

.container
  margin: 0
  padding: 0
  display: grid
  grid-template-columns: 8fr 10fr
  @include media-break(768px, max)
    grid-template-columns: 80vw 80vw
    overflow: auto

.name
  display: flex
  justify-content: center
  align-items: center
  background: rgb(47, 45, 47)
  color: white
  font-size: calc(3rem + 3.5vw)
  text-align: center
  writing-mode: vertical-lr
  transform: rotate(180deg)
  letter-spacing: 0.5rem
  @include media-break(768px, max)
    writing-mode: initial
    transform: rotate(0deg)
    grid-column: span 2

.formulas
  background-color: rgb(67, 64, 64)
  background-image: url("./../../images/FormulasBG.png")
  background-size: cover
  color: white
  padding: 0 1rem

  div:nth-child(1)
    padding-top: 2rem

    text-align: center
    font-size: calc(4rem + 3vw)
    margin: 2rem 0

  div:nth-child(2)
    font-size: calc(2rem + 2vw)
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    gap: calc(1rem + 3vw)

.discription
  background-color: white
  padding: 0 7%

  div:nth-child(1)
    padding-top: 2rem

    text-align: center
    font-size: calc(3.8rem + 3vw)
    margin: 2rem 0

  div:nth-child(2)

    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    gap: calc(0.5rem + 0.5vw)
    font-size: calc(2rem + 2vw)

    span
      width: 100%