@import "src/sass/variables"
.MainPage
  width: 100%
  //display: flex
  display: grid
  justify-content: center
  align-content: center
  grid-template-rows: minmax($heigth-mian,min-content)
  border-radius: inherit
  background-color: rgba(255, 255, 255, 0.1)


  div
    font-size: 7.5rem
    line-height: 10rem
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    font-family: Oxygen Mono
    font-style: normal
    font-weight: normal
    letter-spacing: 0.5rem
    word-spacing: 2rem
    color: white