@import "src/sass/variables"
.MainPage
  width: 100%
  left: 0
  top: 0

  //display: flex
  display: grid
  justify-content: center
  align-content: center
  grid-template-rows: minmax($heigth-mian,min-content)
  border-radius: inherit
  background-color: rgba(255, 255, 255, 0.1)


  div
    font-size: calc(2rem + 2.5vw)
    line-height: calc(3rem + 5vw)
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    font-family: Oxygen Mono
    font-style: normal
    font-weight: normal
    letter-spacing: 0.5rem
    word-spacing: calc(0.5rem + 1vw)
    color: white