
.header
  z-index: 15
  width: 100%
  height: 100%
  border-radius: inherit
  background-color: #000000
  display: grid
  grid-template-columns: 1fr 18fr
  position: relative
  &::after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 0.3rem
    background: #2CD94D
    background: radial-gradient(ellipse at center, #00aeff, rgb(21, 255, 0))

  div:nth-child(1)
    width: calc(7rem + 1.8vw)
    display: flex
    justify-content: center
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: calc(2.5rem + 1vw)
    align-items: center
    text-align: center
    color: #0FB7C1
    text-shadow: 1px 2px 2px #5BF5FF

  div:nth-child(2)
    height: 100%
    display: flex
    align-items: center
    justify-content: flex-end
    padding-right: 2%
    img
      width: calc(2rem + 0.8vw + 0.8vh)
      cursor: pointer

//////////
.active_img
  transform: rotateZ(120deg)
  transition: 1.5s
.notActive_img
  transform: rotateZ(-120deg)
  transition: 1s


.pop_up
  position: absolute
  top: 100%
  right: 0
  width: calc(15rem + 10vw)
  height: calc(25rem + 5vw)
  background-color: rgba(0, 0, 0, 0.52)
  transform: scaleY(0)
  transform-origin: top
  transition: 1s
.active
  transform: scaleY(1)

