@import "./sass/variables"
@import "./sass/reset"
@import "src/components/Header/header__sass/Header.module"

.App
  display: grid
  grid-template-rows: min-content
  position: relative
  width: 100vw

  overflow: hidden
  height: 100vh
  overflow: auto

  @include media-break(1920px, min)
    width: 1920px
    margin: 0 auto

  header
    background-color: white


  main
    position: relative
    overflow: hidden

.scrollBar
  z-index: 50
  background-color: rgb(193, 196, 194)
  position: absolute
  top: $header-height
  right: 0
  width: calc(0.5rem + 0.5vw)
  border-radius: 0 0 1rem 1rem
  box-shadow: -0.1rem 0rem 1rem 0rem rgba(0, 0, 0, 0.73)


