@import "./sass/reset"
@import "./sass/variables"


.maincontainer
  width: 100%
  height: 100vh
  background: linear-gradient(253.29deg, #4D5EF5 2.72%, #FF00E5 95.17%)
  display: grid
  grid-template-columns: 1fr repeat(10, minmax(min-content, 16rem)) 1fr
  grid-template-rows: minmax(2rem, 1fr) minmax(min-content, 90rem) minmax(2rem, 1fr)

.App
  overflow: hidden

  height: 95vh
  grid-column: 2/12
  grid-row: 2/3
  display: grid
  grid-template-columns: minmax(6.5rem, 1fr) 18fr
  grid-template-rows: 9% 91%
  border-radius: 21px
  box-shadow: -15px 15px 40px 15px rgba(0, 0, 0, 0.25)
  position: relative
  @include media-break(768px, max)
    grid-template-columns: 1fr




  header
    border-radius: 21px 21px 0 0
    grid-column: 1/ span 2
    color: white

  nav
    border-radius: 0 0 0 21px
    @include media-break(768px, max)
      position: absolute
      top: calc(90vh * 0.09)
      left: 0
      width: calc(15rem + 13%)
      height: $heigth-mian
      visibility: hidden


  main
    display: grid
    position: relative
    grid-template-rows: repeat(auto-fit, min-content)
    border-radius: 0 0 21px 0
    overflow: auto
