@import "src/components/Header/header__sass/Header.module"
@import "src/sass/variables"
.AboutPage
  overflow: hidden
  position: relative
  width: 100%
  font-size: calc(2rem + 2vw)
  min-height: 100vh
  height: min-content
  background-color: #a25f1c

.bg
  overflow: hidden
  //padding-top: $header-height
  padding-top: 30vh
  padding-left: 5%
  top: 0
  left: 0
  position: fixed
  //text-align: center
  ///// scroll width
  width: calc(100% - (0.5rem + 0.5vw))
  height: 100%
  pointer-events: none

  color: #a25f1c


.upperText

  transition: 0.1s
  background-color: #174A31
  width: 100%
  height: 100%
  position: absolute
  display: flex
  justify-content: center
  align-items: center

  span
    color: white
    font-size: calc(5rem + 5vw)
    text-align: center

.leftText
  clip-path: polygon(0% 0%, 80% 0%, 20% 100%, 0% 100%)
  @include media-break(700px, max)
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%)

.rightText
  clip-path: polygon(100% 100%, 20% 100%, 80% 0%, 100% 0%)
  @include media-break(700px, max)
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%,)

.textPusherLeft
  float: left
  clip-path: polygon(0% 0%, 50% 0%, 0% 45%)
  shape-outside: polygon(0% 0%, 50% 0%, 0% 45%)
  width: 50%
  height: 100%
  //background-color: white
  @include media-break(700px, max)
    clip-path: polygon(0% 0%, 70% 0%, 0% 37%)
    shape-outside: polygon(0% 0%, 70% 0%, 0% 37%)

.textPusherRight
  float: right
  position: relative
  bottom: 0
  clip-path: polygon(100% 40%, 100% 100%, 35% 100%)

  shape-outside: polygon(100% 40%, 100% 100%, 35% 100%)
  width: 50%
  height: 100%
  //background-color: #17d9ce
  @include media-break(700px, max)
    clip-path: polygon(100% 55%, 100% 100%, 15% 100%)
    shape-outside: polygon(100% 55%, 100% 100%, 15% 100%)
