@import "src/sass/variables"

@mixin top-bottom_content
  grid-row: 2/3
  background-color: rgba(7, 7, 7, 0.49)
  width: calc(12rem + 50vw)
  color: white
  padding: 2%
  letter-spacing: calc(0.2rem + 0.2vw)
  line-height: calc(3rem + 0.3vw)
  font-size: calc(1.2rem + 0.7vw)


.wrapper
  position: relative
  width: 100%


  background: color-AboutPage(bg)
  display: grid
  grid-template-rows: minmax((95vh * 0.95)/2, min-content) minmax((95vh * 0.91)/2, min-content)

  .top__container, .bottom__container
    width: 100%
  //min-height: (95vh * 0.91)/2

  .top__container
    display: grid
    grid-template-rows: minmax(2rem, 2fr) min-content minmax(2rem, 1fr)

    div
      @include top-bottom_content
      margin-left: 3%
      border-radius: 2rem
      border-bottom: calc(0.1rem + 0.1vw) solid rgba(255, 255, 255, 0.59)


  .bottom__container
    display: grid
    grid-template-rows: minmax(2rem, 1fr) min-content minmax(2rem, 2fr)
    justify-items: flex-end

    div
      @include top-bottom_content
      border-radius: 2rem
      margin-right: 3%
      border-bottom: calc(0.1rem + 0.1vw) solid rgba(255, 255, 255, 0.59)
